.container  {
    margin-top: 6%;
    background-color: lightgray;
    padding: 2% 2% 2% 2%;
    width: 35%;
  }
  .button-style{
    margin-left: 40% ;
  }
  .heading{
    text-align: center;
    padding-top: 4%;
  }